.main {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 600px;
    margin: 0px 100px;
    padding: 10px;
    line-height: 120%;
    align-content: center;
    
}

h1 {
    padding: 10px;
    text-align: center;
    text-transform:uppercase;
    letter-spacing: 3px;
}

h2 {
    color:#006EB6;
    padding: 10px;
    text-align: center;
}

.pain {

}

.list {
  padding: 10px 10px;
}


img {
    width: 150px;
    align-self: center;
    padding: 0px 30%;
}

.dark {
    background-color: #333;
    color: white;
}

.dark h2 {
    color:#2581bb;
}