* {
    font-family: "Roboto", sans-serif;
}

.skiptocontent a {
	/* set the element to absolute positioning */
    position:absolute;
	/* move it off screen */
    padding: 10px;
    text-align: center;
    left: 100px;
    top: -100px;
	/* Make sure it will be on the left edge of the screen */
	/* Change the background and color to something that stands out */
    background-color:#F06543;
    color: #313638;
}
.skiptocontent a:focus {
	/* Move it back on when focused */
    top: 0px;
}

header {
    background-color: #E0DFD5;
    text-align: center;
    padding: 10px;
    border: 10px #313638;
}

nav {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color:#F06543;
    justify-items: right;
}

a {
    font-size: medium;
}

ul {
   grid-template-columns: 1fr 1fr 1fr; 
   display: grid;
   list-style-type: none;
   text-align: right;
   max-width: 300px;
   margin: 0 auto;
}

li {
    width: 100px;
}

#maincontent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.book {
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    display: grid;
}

.mainbook {
    grid-column: 2/4;
    grid-row: 1/3;
    background-color: #F06543;
    margin: 10px;
}

.sidebook {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #E8E9EB;
    text-align: right;
    padding-right: 10px;
    margin: 10px;
    border-right-style: solid;
    border-color: #F06543;
    line-height: 10px;
}

#filter {
    background-color: #313638;
    grid-column: 3/4;
    grid-row: 1/8;
    color: #E0DFD5;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border: #F06543;
}

.date {
    font-size: large;
}

.image {
    padding-left: 30%;
}